/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

/* Specific Page Styles */
.container {
    padding-top: 100px;
}

.container h1 {
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    width: calc(33.33% - 40px);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    color: #666;
}
